header {
  margin-bottom: 70px;
}
body {
  width: 900px;
  margin: 0 auto;
}
main {
  height: 500px;
}
#one {
  width: 25%;
  float: left;
}
#two {
  width: 25%;
  float: left;
}
#three {
  width: 25%;
  float: left;
}
#four {
  width: 25%;
  float: left;
}
.circle {
  border-radius: 100%;
}
.div-image {
  margin-bottom: 50px;
}
