@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

*{
  box-sizing: border-box;
}
header {
  height: 80px;
  background-color: #44A8FE;
  overflow: hidden;
}

nav a li {
  float: right;
  line-height: 51px;
  text-align: center;
  height: 51px;
  width: 114px;
  margin: 15px 10px;
  background-image: url("../assets/nav-bar-buttons.png");
}

nav a:first-child li {
  float: left;
}


nav a {
  text-decoration: none;
  color: white;
  font-family: 'VT323', monospace;
  font-size: 1.2em;
}
body {
  background-color: #44A8FE;
}
main {
  height: 500px;
  width: 1340px;
  margin: 0 auto;
}
.div-image{
  margin-top: 50px;
  margin-bottom: 15px;
}
.div-image img {
  margin: auto;
  display: block;
}
.character {
  width: 320px;
  float: left;
  font-family: 'VT323', monospace; 
  margin-right: 20px;
  margin-bottom: 20px;
}

footer img{
  width: 100%;

}
.character:nth-child(3) span {
  font-style: italic;
}
h2 {
  font-size: 2.5em;
  text-align: center;
  font-weight: bolder;
  color: white;
}
p {
  font-size: 2em;
  color: white;
}
.character:last-child {
  margin-right: 0px;
}