*{
  box-sizing: border-box;
}
header {
  min-height: 100px;
  background-color: #44A8FE;
  overflow: hidden;
}

nav a li {
  float: right;
  line-height: 51px;
  text-align: center;
  height: 51px;
  width: 114px;
  margin: 30px 10px;
  background-image: url("../assets/nav-bar-buttons.png");
}

nav a:first-child li {
  float: left;
}


nav a {
  text-decoration: none;
  color: black;
  /* font-family: 'VT323', monospace; */
  font-size: 1.2em;
}
body {
  background-color: #44A8FE;
}
main {
  height: 500px;
  width: 900px;
  margin: 0 auto;
}
.div-image{
  margin-top: 50px;
}
#one {
  width: 25%;
  float: left;
}
#two {
  width: 25%;
  float: left;
}
#three {
  width: 25%;
  float: left;
}
#three > p > span {
  font-style: italic;
}

#four {
  width: 25%;
  float: left;
}
.circle {
  border-radius: 100%;
}
.div-image {
  margin-bottom: 50px;
}
footer img{
  width: 100%;

}