/* Pixel font */
@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

* {
  box-sizing: border-box;
}

/* may change with global header */
header {
  height: 80px;
  background-color: #44A8FE;
  overflow: hidden;
}

nav a li {
  float: right;
  line-height: 51px;
  text-align: center;
  height: 51px;
  width: 114px;
  margin: 15px 10px;
  color: white;
  background-image: url("../assets/nav-bar-buttons.png");
}

nav a:first-child li {
  float: left;
}


nav a {
  text-decoration: none;
  color: black;
  font-family: 'VT323', monospace;
  font-size: 1.2em;
}



/* page css */

main {
  background-color: #44A8FE;
}

main > section:first-child {
  min-height: 450px;
}

main > section:first-child img {
  height: 100px;
  margin: auto;
  padding-top: 10px;
  display: block;
}

main > section:last-child {
  border: 0px;
  min-height: 200px;
}

main > section > div {
  min-height: 350px;
}

main > section table {
  width: 400px;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0px 10px;
  font-size: 1.5em;
  color: white;
  font-family: 'VT323', monospace;––
}

main > section table thead {
  font-size: 1.5em;
}

main section table tbody > tr {
  background-image: url("../assets/Username-box.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60px;
  line-height: 60px;
}

main > section table td:first-child {
  text-align: left;
}

main > section table td:last-child {
  text-align: right;
}

main > section table tbody td:first-child {
  padding-left: 25px;
}

main > section table tbody td:last-child {
  padding-right: 25px;
}
main > #footer img {
  width: 100%;
}