@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

/* ------------------------------Header-------------------------------- */
* {
  box-sizing: border-box;
}
body {
  background-color: #44A8FE;
}
/* may change with global header */
header {
  min-height: 100px;
  overflow: hidden;
}

nav a li {
  float: right;
  line-height: 51px;
  text-align: center;
  height: 51px;
  width: 114px;
  margin: 30px 10px;
  background-image: url("../assets/nav-bar-buttons.png");
}

nav a:first-child li {
  float: left;
}


nav a {
  text-decoration: none;
  color: white;
  font-family: 'VT323', monospace;
  font-size: 1.25em;
}

/* ------------------------------Body-------------------------------- */


body {
  text-align: center;
  font-family: 'VT323', monospace;
}
h1 {
  font-size: 30px;
  color: white;
  width: 400px;
  height: 75px;
  margin: auto;
  line-height: 75px;
  /* border: 1px solid black; */
  /* background-color: cadetblue; */
  background-image: url("../assets/Username-box.png");
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: center;
}

form {
  margin-top: 40px;
  min-height: 350px;
  margin-bottom: 35px;
  color:white;
  font-size: 25px;
  font-weight: bold;
}

#userSelectionOptions {
  width: 100%;
  overflow: auto;
}

#difficulty {
  text-align: center;
  float: left;
  margin-left: 6%;
  width: 234px;
  margin-right: 10px;
  height: 25px;
}

#difficulty > div {
  margin-bottom: 13px;
  margin-right: 15px;
}

#difficulty > div:hover, #avatarSelection > div:hover {
  background-image: url("../assets/SelectedBoxDarker.png");
  color: grey;
}

#userSelectionOptions input {
  display: none;
}

#userSelectionOptions input:checked + label {
  background-image: url("../assets/SelectedBoxDarker.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  height: 33px;
  color: grey;
}

#userSelectionOptions > section > div > label {
  width: 225px;
  display:block;
}

#avatarSelection {
  text-align: center;
  float: left;
  width: 225px;
  margin-left: 31%;
}

#avatarSelection > div {
  margin-bottom: 26px;
}

.catagorySelector {
  height: 33px;
  background-image: url("../assets/Username-box.png");
  background-repeat: no-repeat;
  background-size: auto;
}

#avatarImages {
  float:left;
  margin-top: 16px;
}

#avatarImages> img {
  width: 60px;
  height: 60px;
  float: none;
  display: block;
}

#submit {
  margin-top: 30px;
}

form > #username > label {
  font-size: 20px;
}

/* ------------------------------Footer-------------------------------- */

footer {
  min-height: 200px;
}
footer img {
  width: 100%;
}